
<div class="product-card" (click)="onCardClick()">
    <div class="product-image">
        <img [ngSrc]="product().imageUrl" [alt]="product().name" height="500" width="500">
    </div>
    <div class="product-info">
        <h3 class="product-title">{{product().name}}</h3>
        <div class="product-rating">
            <app-stars-component [rating]="product().rating"/>
            <span style="color: #7f8c8d;">({{product().rating}})</span>
        </div>
        <div class="product-price">{{product().price}}$</div>
        <div class="product-meta">{{product().category}}</div>
        <button (click)="onAddToCartClick($event)" class="product-button">Купить</button>
    </div>
</div>