.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    border-bottom: 1px solid var(--borders-color); 
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    height: 64px; 
    border-bottom: 1px solid var(--borders-color);
}

.logo {
    width: 40px;
    height: 40px;
    background-color: var( --primary-buttons-color);
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cart-icon {
    width: 20px;
    height: 20px;
    color: #4A5565;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #4A5565;
}

.dropdown-menu {
    background-color: #fff;
    padding: 16px;
}

.search-box {
    position: relative;
    margin-bottom: 20px;
}

.search-box input {
    width: 100%;
    padding: 12px 16px 12px 44px;
    border: 1px solid #D1D5DC;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.31px;
    line-height: 100%;
    outline: none;
}

.search-box input:focus {
    outline: 2px solid var(--primary-buttons-color);
}

.search-icon {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 16px;
    top: 35%;
    transform: translateY(-50%);
    color: #99A1AF;
    pointer-events: none;
}

.dropdown-nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dropdown-nav a {
    text-decoration: none;
    color: #364153;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.31px;
    padding: 6px 0;
}

.dropdown-nav a:hover {
    color: var(--primary-buttons-color);
}

button, a {
  -webkit-tap-highlight-color: transparent;
}